[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
	lg = log -M --decorate --graph
	st = status -s
	stm = status -s -uno
	di = diff
	co = checkout
	ci = commit
	pl = pull
	ps = push
	dt = difftool
	cl = clean -fdx
	llg = log --format='%Cgreen%h%Creset %Cblue[%an - %ar]%Creset %s' --graph
	boc = "!f() { \
		git branch --color=always -a -vvv | grep $(git rev-parse --short $1); \
		}; f"
	rg = grep --recurse-submodules  --line-number --column --color=auto --break
	ver = rev-parse --short HEAD
	lb = "!f() { \
		if [ $# -ne 2 ]; then\
			echo \"$0 branch1 branch2\";\
			echo \"  It will show the commit that are in branch1 and not in branch2 and vice versa\";\
			return 0;\
		fi;\
\
		echo \">> Commit in $1 but not in $2 :\";\
		git --no-pager log --pretty=\"%h | %<(16)%cr | %<(20)%an | %<(70,trunc)%s\" --date=local ${2}..${1};\
\
		echo \"\"\
		echo \">> Commit in $2 but not in $1 :\";\
		git --no-pager log --pretty=\"%h | %<(16)%cr | %<(20)%an | %<(70,trunc)%s\" --date=local ${1}..${2};\
		}; f"
[diff]
	tool = bc3
	#tool = vi
[difftool]
	prompt = false
[difftool "bc3"]
	cmd = git_difftool_wrapper_bc "$LOCAL" "$REMOTE" "$BASE"
[difftool "vi"]
	cmd = git_difftool_wrapper_vi "$LOCAL" "$REMOTE" "$BASE"
[difftool "meld"]
	cmd = git_difftool_wrapper_meld "$LOCAL" "$REMOTE" "$BASE"
[merge]
	tool = bc3
	summary = true
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "bc3"]
	cmd = git_mergetool_wrapper_bc "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	trustExitCode = true
[guitool "Edit in gvim"]
    cmd = gvim $FILENAME
    needsFile = true
[guitool "Blame in gvim"]
    cmd = gvim $FILENAME +Gblame
    needsFile = true
[guitool "Remove local modification"]
    cmd = git checkout -- $FILENAME
    needsFile = true
    confirm = true
[push]
	default = current
[gui]
	warndetachedcommit = true
[guitool "Edit in gvim"]
	cmd = gvim $FILENAME
	needsFile = true
[guitool "Blame in gvim"]
	cmd = gvim $FILENAME +Gblame
	needsFile = true
[guitool "Remove local modification"]
	cmd = git checkout -- $FILENAME
	needsFile = true
	confirm = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
